/* Navbar */
.navbar {
  background-color: #3498db;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #2980b9;
}

/* Register css */
.sign-up-container {
  max-width: 350px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
  font-weight: bold;
}

input {
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}

/* Home page */

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-box {
  background-color: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(137, 27, 27, 0.1);
}

.chat-message {
  font-size: 18px;
  color: #333;
}
